         <div class="mb-[10px] w-full md:flex  md:items-center">
               <input type="text" value="Upload Shareholder Certificate" placeholder="" class="border text-[darkGrey] placeholder- mr-[3px] mb-[10px] w-[60%] md:mb-[0] w-full h-[40px] text-[10px] focus:border-orange placeholder:text-[#667085] border-[#c] rounded-[5px] px-[10px] placeholder:text-[10px] outline-none ">
              <div class="flex items-center bg-primColor w-[50%] rounded-[5px] justify-center h-[40px]">
                <img src="~/Plugins/Images/ph_folder-open-fillfolder-icon.svg" alt="" class="w-[12px] h-[12px] mr-[5px]">
                <button class="text-[10px]">
Browse
                </button>
              </div>
               
            </div>
            <div class="mb-[10px] w-full md:flex  md:items-center ">
               <input type="text" value="Upload Shareholder Certificate" placeholder="" class="border text-[darkGrey] placeholder- mr-[3px] mb-[10px] w-[60%] md:mb-[0] w-full h-[40px] text-[10px] focus:border-orange placeholder:text-[#667085] border-[#c] rounded-[5px] px-[10px] placeholder:text-[10px] outline-none ">
              <div class="flex items-center bg-primColor w-[50%] rounded-[5px] justify-center h-[40px]">
                <img src="~/Plugins/Images/ph_folder-open-fillfolder-icon.svg" alt="" class="w-[12px] h-[12px] mr-[5px]">
                <button class="text-[10px]">
Browse
                </button>
              </div>
               
            </div>
            <div class="w-full mb-[10px]">
                <label for="Password" ></label class="text-[13px] block font-[400] mb-[3px]">
                <input type="Enter your email" name="" id=" " placeholder="Email" class="border w-full h-[40px] focus:border-orange placeholder:text-[#667085] border-[#D0D5DD] rounded-[5px] px-[10px] placeholder:text-[13px] outline-none ">
            </div>



             <partial name="_RegisterationNextAndPrevious" />
             @* <div class="flex items-center mt-[20px] h-[20px] justify-between w-full ">
            <div class="flex items-center border justify-center p-[8px] mr-[3px] w-[30%] text-center h-[40px]">
                <img src="~/Plugins/Images/arrow-leftprevious icon.svg" alt="" class="w-[12px] h-[12px] mr-[3px]">
                <p class="text-lightGrey text-center text-[10px] font-[700] cursor-pointer" onclick="showPreviousPage()">Previous</p>
              </div>
              <div class="bg-primColor   flex items-center justify-center text-white text-[10px] w-[70%] p-[8px] h-[40px]">
                <button type="button" class="mr-[5px] text-[10px] cursor-pointer" onclick="showNextPage()">Next</button>
                <img src="~/Plugins/Images/Iconnext-icon.svg" alt="" class="w-[9px] [h-9px] text-white" >
              </div>
           
           </div> *@
           
            
        