    <div class=" w-full flex justify-between  border  items-center p-[10px] rounded-[5px] h-[40px]">


                    <p class="text-lightGrey text-[10px]">Proxy</p>
                    <img src="~/Plugins/Images/VectordownArrow.png" alt="" class="w-[10px] h-[5px] text-darkLightBlue">

                </div>
                <div class="my-[15px] w-full flex  items-center ">
                    <input type="checkbox" class="mr-[3px]">
                    <p class="text-[11px] font-[700] text-darkGrey">I do not need a proxy</p>


                </div>

     <partial name="_RegisterationNextAndPrevious" />

@*                     
             <div class="flex items-center mt-[20px] h-[20px] justify-between w-full ">
            <div class="flex items-center border justify-center p-[8px] mr-[3px] w-[30%] text-center h-[40px]">
                <img src="~/Plugins/Images/arrow-leftprevious icon.svg" alt="" class="w-[12px] h-[12px] mr-[3px]">
                <p class="text-lightGrey text-center text-[10px] font-[700]" onclick="showPreviousPage()">Previous</p>
              </div>
              <div class="bg-primColor   flex items-center justify-center text-white text-[10px] w-[70%] p-[8px] h-[40px]">
                <button type="button" class="mr-[5px] text-[10px]" onclick="showNextPage()">Next</button>
                <img src="~/Plugins/Images/Iconnext-icon.svg" alt="" class="w-[9px] [h-9px] text-white" >
              </div>
           
           </div> *@