@model Gapplus.Web.DTO.ShareHolder.BannerHeaderModel


<section class="px-[100px]">
    <div class="flex my-[10px]">
        <img src="~/Plugins/Images/arrow-leftprevious icon.svg" alt="" class="w-[10px] mr-[3px]">
        <p class="text-[10px] font-[700] items-center">Back</p>
    </div>
    <div class="">
    </div>
    <div class="bg-lighterBlue flex items-center p-[50px] ">
        <img src="~/Plugins/Images/access_bankaccessBank.png" alt="" class="w-[250px] mx-auto">

    </div>
    </div>
</section>