@page "_DashboardHeader"

<section class="md:px-[100px] py-[10px]>
    <div class="flex items-center">
        <div class="bg-ash w-[50px] h-[50px] rounded-full shrink mr-[5px]"></div>
        <div>
            <h1 class="font-bold text-[14px]">Daniel Allen</h1>
            <p class="text-[10px]">Danielallen@gmail.com</p>
        </div>
    </div>
    <div class="flex text-[13px] font-[500] scrollbar-none justify-between text-shrink mt-[30px] text-lightGrey overflow-x-auto">
        <div class="text-shrink flex items-center hover:text-orange cursor-pointer mr-[15%] md:mr-[0]">
            <img src="~/Plugins/Images/Vectorhome.png "
                 alt=""
                 class="w-[13px] h-[13px] text-lightGrey mr-[5px]   " />
            <p class="text-shrink ">Home</p>
        </div>
        <div class="text-shrink flex items-center hover:text-orange cursor-pointer mr-[15%] md:mr-[0]">
            <img src="~/Plugins/Images/Vectormeetings.png"
                 alt=""
                 class="w-[15px] h-[12px]" />
            <p class="text-shrink mx-[5px]">Meetings</p>
            <img src="~/Plugins/Images/VectordownArrow.png"
                 alt=""
                 class="w-[8px] h-[5px] text-darkGrey mt-[2px] ml-[5px]" />
        </div>
        <div class="text-shrink flex items-center hover:text-orange cursor-pointer mr-[15%] md:mr-[0]">
            <img src="~/Plugins/Images/Vectorfeatures.png"
                 alt=""
                 class="w-[15px] h-[15px] mt-[2px]" />
            <p class="mx-[5px]">Features</p>
            <img src="~/Plugins/Images/VectordownArrow.png"
                 alt=""
                 class="w-[8px] h-[5px] text-darkGrey mt-[2px] ml-[5px]" />
        </div>
        <div class="text-shrink flex items-center hover:text-orange cursor-pointer mr-[15%] md:mr-[0]">
            <img src="~/Plugins/Images/Vectornotification.png"
                 alt=""
                 class="w-[15px] h-[15px]" />
            <p class="mx-[5px]">Notifications</p>
        </div>
        <div class="text-shrink flex items-center hover:text-orange cursor-pointer mr-[15%] md:mr-[0]">
            <img src="~/Plugins/Images/ooui_settingssettings.png"
                 alt=""
                 class="w-[15px] h-[15px]" />
            <p class="mx-[5px]">Settings</p>
        </div>
    </div>
</section>
