@{
    Layout = null;
}
<section class="px-[100px] my-[20px]">
    <div class="flex my-[10px]">
        <img src="~/Plugins/Images/arrow-leftprevious icon.svg" alt="" class="w-[10px] mr-[3px]">
        <p class="text-[10px] font-[700] items-center">Back</p>
    </div>
    <div class="flex justify-between flex-col md:flex-row mb-[10px] md:mb-[0]">
        <div class="  py-[10px]  relative">
            <div class="mt-[7px] mb-[20px]">
                <img src="~/Plugins/Images/access_bankaccessBank.png"
                     alt=""
                     class="w-[250px]" />
            </div>



            <div class="pl-[10px] mt-[10px]">
                <h3 class="text-[10px] font-[900] mb-[7px]">Access Bank AGM</h3>
                <div class="flex items-center mb-[5px]">
                    <img src="~/Plugins/Images/Frame 1000007560calender.svg"
                         alt=""
                         class="w-[20px] mr-[3px]" />
                    <p class="text-[10px] font-[700] text-shrink wrap-none">
                        Date: November 22, 10:00am GMT
                    </p>
                </div>
                <div class="flex items-center">
                    <img src="~/Plugins/Images/Frame 1000007560location.svg"
                         alt=""
                         class="w-[20px] mr-[3px]" />
                    <p class="text-[10px] font-[700]">Location: Online</p>
                </div>
                <p class="text-[10px] font-[700] mt-[10px]">Register as a Shareholder in this Annual General Meeting by contacting <br> <a href="">access@contact.com</a> or select the REGISTER button below.</p>
                <div class="mt-[15px] flex items-center">
                    <div class="flex bg-primColor w-[150px] items-center text-white justify-center p-[5px]">

                        <button class="text-[13px]  mr-[3px]">Register</button>
                        <img src="~/Plugins/Images/tabler_external-linkjoin-btn-arrow.svg"
                             alt=""
                             class="w-[10px] h-[10px] mr-[3px]" />
                    </div>
                    <img src="~/Plugins/Images/Frame 1000007549tag-icon.svg"
                         alt=""
                         class="w-[30px] h-[30px] ml-[3px]" />
                    <img src="~/Plugins/Images/Frame 1000007550like-icon.svg"
                         alt=""
                         class="w-[30px] h-[30px] ml-[3px]" />
                </div>
            </div>
        </div>
        <div class="bg-lighterBlue flex items-center p-[10px] px-[20px]">
            <img src="~/Plugins/Images/access_bankaccessBank.png" alt="" class="w-[250px]">
        </div>
    </div>
</section>
