@{
    Layout = null;
}


<section class="mt-[30px]">
    <div class="bg-black  p-[40px] md:px-[100px] px-[10px]">
        <div class="flex flex-col md:flex-row mb-[20px]">
            <div class="flex flex-col mr-[50px]">
                <div class="flex mb-[10px] flex ">
                    <img src="~/Plugins/Images/carbon_location-filledkocation-icon.png" alt="" class="w-[13px] h-[13px]  md:h-[15px] md:w-[15px] mr-[10px]">
                    <p class=" text-grey text-[11px] text-shrink">10 Amodu Ojikutu Street, off Saka Tinubu Street, <br> Victoria Island, Lagos, Nigeria.</p>

                </div>
                <div class="flex mb-[10px]">
                    <img src="~/Plugins/Images/Vectorgmail.svg" alt="" class="w-[13px] h-[13px]  md:h-[15px] md:w-[15px] mr-[10px]">
                    <p class=" text-grey text-[11px] text-shrink">info@coronationregistrars.com, <br> customercare@coronationregistrars.com</p>
                </div>
                <div class="flex mb-[10px]">
                    <img src="~/Plugins/Images/Vectorcall.svg" alt="" class="w-[13px] h-[13px]  md:h-[15px] md:w-[15px] mr-[10px]">
                    <p class=" text-grey text-[11px] text-shrink">234-01-2714566-7, (01) 2272570</p>
                </div>

            </div>
            <div class="grid grid-cols-2 text-white text-[11px] row-gap ">
                <a class="cursor-pointer">Contact Us</a>
                <a class="cursor-pointer">Login</a>
                <a class="cursor-pointer">Help center</a>
                <a class="cursor-pointer">privacy aolicy</a>
                <a class="cursor-pointer">Feedback</a>
                <a class="cursor-pointer">Terms of Service</a>
            </div>
        </div>
        <div class="w-[80%] bg-ash h-[0.1px] mx-auto"></div>
        <div class="text-white mb-[20px] mt-[15px]">
            <img src="~/Plugins/Images/image 1coronationLogo-white.png" alt="" class="w-[80px] mt-[10px] mb-[5px] ">
            <p class="text-[12px]">Coronation Virtual is a registered trademark of Coronation Registrars and the Coronation Ecosystem.  Coronation is a premium African financial services provider ranging from <br> retail to  institutional solutions. Coronation Registrars is licensed by the Securities and Exchange Commission (SEC) as a Capital Market Operator to provide Registrar services in Nigeria. </p>
        </div>
        <div class="text-white text-[11px] mb-[5px] flex flex-col md:flex-row justify-between">
            <p> c 2023 Coronation Virtual by Coronation. All rights reserved</p>
            <div>
                <div class="flex">
                    <img src="~/Plugins/Images/ion_logo-linkedinlinkden-icon.svg" alt="" class="w-[18px] mr-[5px]">
                    <img src="~/Plugins/Images/uil_instagram-altinstagram-icon.svg" alt="" class="w-[18px] mr-[5px]">
                    <img src="~/Plugins/Images/ic_round-facebookfacebook-icon.svg" alt="" class="w-[18px]">
                </div>


            </div>
        </div>
    </div>
</section>