<section>
    <div class="h-16 border border-b-[#E2E8F0] border-transparent   m-0 mb-4 w-full flex justify-between items-center ">
        <div class=" w-56   ml-8">
            <p class="font-bold  text-[15px] text-[#373131]">Access bank AGM</p>
            <p class="text-[12px] text-[#94A3B8]">June 12th, 2022 | 11:00 AM </p>
        </div>
        <div class="h-10 w-72  flex justify-between items-center rounded-full mr-4 p-2 bg-[#F6F6F6]">
            <div class="flex items-center">
                <img src="~/Plugins/Images/ImageForTheMetingProfile.png" class="ml-1 h-8 mr-[5px]" />
                <div class="leading-[15px]">
                    <div class="font-semibold text-[12px]">Adam Joseph</div>
                    <div class="font-[500] text-[10px] text-[#9E9E9E]">Moderator</div>
                </div>
            </div>

            <img src="~/Plugins/Images/BarLogo.png" class="h-4 mr-2" />
        </div>
    </div>

    <div id="image-section" class="relative   mx-[30px]">

        <img src="~/Plugins/Images/Mask groupvideoman.png" alt="some image" class="object-cover  " />

        <div>
            <div class="absolute h-full top-0 p-[15px] px-[30px] w-full">
                <div class="flex justify-between w-full">
                    <div class="flex items-center bg-[#0F0E0E] bg-opacity-30 rounded-full p-[8px]">
                        <img src="~/Plugins/Images/Group 42record.svg " alt="" class="w-[15px] h-[15px] mr-[3px]">
                        <p class="text-white text-[12px]">24:01:45</p>
                    </div>
                    <div class="bg-[#0F0E0E] bg-opacity-30 rounded-full flex items-center justify-center w-[30px] h-[30px]">
                        <img src="~/Plugins/Images/maximize-2broken-circle.svg" alt="" class="w-[15px] ">
                    </div>
                </div>
                <div class="absolute bottom-5 w-full flex justify-between mx-auto overflow-x-hidden">
                    <div class="bg-[#0F0E0E] bg-opacity-30 rounded-full flex items-center justify-center px-[10px]">
                        <p class="text-white">Adam joseph</p>
                    </div>
                    <div class="bg-[#0F0E0E] bg-opacity-30 rounded-full flex items-center justify-center w-[30px] h-[30px] mr-[60px]">
                        <img src="~/Plugins/Images/soundsound-icon.svg" alt="" class="w-[15px] h-[15px]">
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</section>