@page "_MeetingSidebBar"
@{
    Layout = null;
}

<div class="h-full  w-[350px] sticky top-0 bg-white border border-grey-500 z-5 px-[40px] ">
    <img class="mt-8 w-4/5 " src="~/Plugins/Images/Corronation-Logo-Black.png" alt="">
    <div class="flex items-center mt-[20px] mb-[20px]">
        <div class="bg-ash w-[50px] h-[50px] rounded-full shrink mr-[5px]"></div>
        <div>
            <h1 class="font-bold text-[20px]">Daniel Allen</h1>
            <p class="text-[13px] text-lightGrey">Danielallen@gmail.com</p>
        </div>
    </div>
    <div class="flex justify-between items-center mb-[20px]">
        <div class="flex ">
            <img src="~/Plugins/Images/Vectorlang-icon.svg" alt="" class="mr-[10px] ">
            <p class="font-[700] self-end text-[16px] mb-[3px]">Language</p>
        </div>
        <div class="">
            <img src="~/Plugins/Images/Vectordark-arrow.svg" alt="">
        </div>
    </div>
    <div class="flex">
        <img src="~/Plugins/Images/fe_logoutlogout-icon.svg" alt="">
        <p class="text-[#DC2626]">Logout</p>
    </div>
</div>