@page "_SignIn"
@{
    Layout = null;
}

<div class="flex justify-between px-[20px] h-[50px] items-center p-[30px] bg-black border border-orange">
    <img src="~/Plugins/Images/image 1coronationLogo-white.png" alt="" class="text-shrink">
    <button class="text-orange border border-orange text-shrink px-[20px] py-[5px] text-[12px] ">
        Self Service
    </button>
</div>