@page "_SignInHeader"
@{
    Layout = null;
}

<div class="flex justify-between h-[50px] items-center  bg-black  md:px-[100px] px-[10px]">
    <img src="~/Plugins/Images/image 1coronationLogo-white.png" alt="" class="text-shrink w-[25vw] md:w-[150px]">
    <button class="text-orange border border-orange text-shrink h-[30px] w-[100px] text-[12px] whitespace-nowrap">
        Self Service
    </button>
</div>s