@{
    Layout = null;
}
@{
    Layout = null;
    var header=new Gapplus.Web.DTO.ShareHolder.ShareHolderDashboardHeaderDto();
    header.Username=@ViewBag.Name;
    header.Email=@ViewBag.Email;
}
<html class="overflow-x-none">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="~/Plugins/Tailwind/tailwind.js"></script>
    <script src="~/Plugins/Tailwind/config.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
          rel="stylesheet" />
</head>


<body class="overflow-x-none">
    @Html.Partial("_DashBoardHeader",header)
    @Html.Partial("_OverView")
    <section class="px-[100px] ">
        <div class=" grid grid-cols-3 cols-gap-2 row-gap-2 gap-6">
            <div class="border  p-[10px]  relative">
                <div class="mt-[7px] mb-[20px]">
                    <img src="~/Plugins/Images/access_bankaccessBank.png"
                         alt=""
                         class="mx-auto w-[250px]" />
                </div>

                <div class="flex items-center ">
                    <div class="w-full h-[1px] bg-lightGrey mx-[5px]"></div>
                </div>

                <div class="pl-[10px] mt-[10px]">
                    <h3 class="text-[10px] font-[900] mb-[7px]">Access Bank AGM</h3>
                    <div class="flex items-center mb-[5px]">
                        <img src="~/Plugins/Images/Frame 1000007560calender.svg"
                             alt=""
                             class="w-[20px] mr-[3px]" />
                        <p class="text-[10px] font-[700] text-shrink wrap-none">
                            Date: November 22, 10:00am GMT
                        </p>
                    </div>
                    <div class="flex items-center">
                        <img src="~/Plugins/Images/Frame 1000007560location.svg"
                             alt=""
                             class="w-[20px] mr-[3px]" />
                        <p class="text-[10px] font-[700]">Location: Online</p>
                    </div>
                    <div class="mt-[25px] flex items-center">
                        <div class="flex bg-primColor w-[150px] items-center text-white justify-center p-[5px]">
                            <button class="text-[13px] mr-[3px]">Register</button>
                            <img src="~/Plugins/Images/tabler_external-linkjoin-btn-arrow.svg"
                                 alt=""
                                 class="w-[10px] h-[10px] mr-[3px]" />
                        </div>
                        <img src="~/Plugins/Images/Frame 1000007549tag-icon.svg"
                             alt=""
                             class="w-[30px] h-[30px] ml-[3px]" />
                        <img src="~/Plugins/Images/Frame 1000007550like-icon.svg"
                             alt=""
                             class="w-[30px] h-[30px] ml-[3px]" />
                    </div>
                </div>
            </div>
            <div class="border  p-[10px]  relative">
                <div class="mt-[7px] mb-[20px]">
                    <img src="~/Plugins/Images/access_bankaccessBank.png"
                         alt=""
                         class="mx-auto w-[250px]" />
                </div>

                <div class="flex items-center ">
                    <div class="w-full h-[1px] bg-lightGrey mx-[5px]"></div>
                </div>

                <div class="pl-[10px] mt-[10px]">
                    <h3 class="text-[10px] font-[900] mb-[7px]">Access Bank AGM</h3>
                    <div class="flex items-center mb-[5px]">
                        <img src="~/Plugins/Images/Frame 1000007560calender.svg"
                             alt=""
                             class="w-[20px] mr-[3px]" />
                        <p class="text-[10px] font-[700] text-shrink wrap-none">
                            Date: November 22, 10:00am GMT
                        </p>
                    </div>
                    <div class="flex items-center">
                        <img src="~/Plugins/Images/Frame 1000007560location.svg"
                             alt=""
                             class="w-[20px] mr-[3px]" />
                        <p class="text-[10px] font-[700]">Location: Online</p>
                    </div>
                    <div class="mt-[25px] flex items-center">
                        <div class="flex bg-secColor w-[150px] items-center text-white justify-center p-[5px]">
                            <button class="text-[13px] mr-[3px]">Registeration closed</button>
                            
                        </div>
                        <img src="~/Plugins/Images/Frame 1000007549tag-icon.svg"
                             alt=""
                             class="w-[30px] h-[30px] ml-[3px]" />
                        <img src="~/Plugins/Images/Frame 1000007550like-icon.svg"
                             alt=""
                             class="w-[30px] h-[30px] ml-[3px]" />
                    </div>
                </div>
            </div>
            <div class="border  p-[10px]  relative">
                <div class="mt-[7px] mb-[20px]">
                    <img src="~/Plugins/Images/access_bankaccessBank.png"
                         alt=""
                         class="mx-auto w-[250px]" />
                </div>

                <div class="flex items-center ">
                    <div class="w-full h-[1px] bg-lightGrey mx-[5px]"></div>
                </div>

                <div class="pl-[10px] mt-[10px]">
                    <h3 class="text-[10px] font-[900] mb-[7px]">Access Bank AGM</h3>
                    <div class="flex items-center mb-[5px]">
                        <img src="~/Plugins/Images/Frame 1000007560calender.svg"
                             alt=""
                             class="w-[20px] mr-[3px]" />
                        <p class="text-[10px] font-[700] text-shrink wrap-none">
                            Date: November 22, 10:00am GMT
                        </p>
                    </div>
                    <div class="flex items-center">
                        <img src="~/Plugins/Images/Frame 1000007560location.svg"
                             alt=""
                             class="w-[20px] mr-[3px]" />
                        <p class="text-[10px] font-[700]">Location: Online</p>
                    </div>
                    <div class="mt-[25px] flex items-center">
                        <div class="flex bg-primColor w-[150px] items-center text-white justify-center p-[5px]">
                            <button class="text-[13px] mr-[3px]">Register</button>
                            <img src="~/Plugins/Images/tabler_external-linkjoin-btn-arrow.svg"
                                 alt=""
                                 class="w-[10px] h-[10px] mr-[3px]" />
                        </div>
                        <img src="~/Plugins/Images/Frame 1000007549tag-icon.svg"
                             alt=""
                             class="w-[30px] h-[30px] ml-[3px]" />
                        <img src="~/Plugins/Images/Frame 1000007550like-icon.svg"
                             alt=""
                             class="w-[30px] h-[30px] ml-[3px]" />
                    </div>
                </div>
            </div>
            <div class="border  p-[10px]  relative">
                <div class="mt-[7px] mb-[20px]">
                    <img src="~/Plugins/Images/access_bankaccessBank.png"
                         alt=""
                         class="mx-auto w-[250px]" />
                </div>

                <div class="flex items-center ">
                    <div class="w-full h-[1px] bg-lightGrey mx-[5px]"></div>
                </div>

                <div class="pl-[10px] mt-[10px]">
                    <h3 class="text-[10px] font-[900] mb-[7px]">Access Bank AGM</h3>
                    <div class="flex items-center mb-[5px]">
                        <img src="~/Plugins/Images/Frame 1000007560calender.svg"
                             alt=""
                             class="w-[20px] mr-[3px]" />
                        <p class="text-[10px] font-[700] text-shrink wrap-none">
                            Date: November 22, 10:00am GMT
                        </p>
                    </div>
                    <div class="flex items-center">
                        <img src="~/Plugins/Images/Frame 1000007560location.svg"
                             alt=""
                             class="w-[20px] mr-[3px]" />
                        <p class="text-[10px] font-[700]">Location: Online</p>
                    </div>
                    <div class="mt-[25px] flex items-center">
                        <div class="flex bg-primColor w-[150px] items-center text-white justify-center p-[5px]">
                            <button class="text-[13px] mr-[3px]">Register</button>
                            <img src="~/Plugins/Images/tabler_external-linkjoin-btn-arrow.svg"
                                 alt=""
                                 class="w-[10px] h-[10px] mr-[3px]" />
                        </div>
                        <img src="~/Plugins/Images/Frame 1000007549tag-icon.svg"
                             alt=""
                             class="w-[30px] h-[30px] ml-[3px]" />
                        <img src="~/Plugins/Images/Frame 1000007550like-icon.svg"
                             alt=""
                             class="w-[30px] h-[30px] ml-[3px]" />
                    </div>
                </div>
            </div>
            <div class="border  p-[10px]  relative">
                <div class="mt-[7px] mb-[20px]">
                    <img src="~/Plugins/Images/access_bankaccessBank.png"
                         alt=""
                         class="mx-auto w-[250px]" />
                </div>

                <div class="flex items-center ">
                    <div class="w-full h-[1px] bg-lightGrey mx-[5px]"></div>
                </div>

                <div class="pl-[10px] mt-[10px]">
                    <h3 class="text-[10px] font-[900] mb-[7px]">Access Bank AGM</h3>
                    <div class="flex items-center mb-[5px]">
                        <img src="~/Plugins/Images/Frame 1000007560calender.svg"
                             alt=""
                             class="w-[20px] mr-[3px]" />
                        <p class="text-[10px] font-[700] text-shrink wrap-none">
                            Date: November 22, 10:00am GMT
                        </p>
                    </div>
                    <div class="flex items-center">
                        <img src="~/Plugins/Images/Frame 1000007560location.svg"
                             alt=""
                             class="w-[20px] mr-[3px]" />
                        <p class="text-[10px] font-[700]">Location: Online</p>
                    </div>
                    <div class="mt-[25px] flex items-center">
                        <div class="flex bg-primColor w-[150px] items-center text-white justify-center p-[5px]">
                            <button class="text-[13px] mr-[3px]">Register</button>
                            <img src="~/Plugins/Images/tabler_external-linkjoin-btn-arrow.svg"
                                 alt=""
                                 class="w-[10px] h-[10px] mr-[3px]" />
                        </div>
                        <img src="~/Plugins/Images/Frame 1000007549tag-icon.svg"
                             alt=""
                             class="w-[30px] h-[30px] ml-[3px]" />
                        <img src="~/Plugins/Images/Frame 1000007550like-icon.svg"
                             alt=""
                             class="w-[30px] h-[30px] ml-[3px]" />
                    </div>
                </div>
            </div>
            <div class="border  p-[10px]  relative">
                <div class="mt-[7px] mb-[20px]">
                    <img src="~/Plugins/Images/access_bankaccessBank.png"
                         alt=""
                         class="mx-auto w-[250px]" />
                </div>

                <div class="flex items-center ">
                    <div class="w-full h-[1px] bg-lightGrey mx-[5px]"></div>
                </div>

                <div class="pl-[10px] mt-[10px]">
                    <h3 class="text-[10px] font-[900] mb-[7px]">Access Bank AGM</h3>
                    <div class="flex items-center mb-[5px]">
                        <img src="~/Plugins/Images/Frame 1000007560calender.svg"
                             alt=""
                             class="w-[20px] mr-[3px]" />
                        <p class="text-[10px] font-[700] text-shrink wrap-none">
                            Date: November 22, 10:00am GMT
                        </p>
                    </div>
                    <div class="flex items-center">
                        <img src="~/Plugins/Images/Frame 1000007560location.svg"
                             alt=""
                             class="w-[20px] mr-[3px]" />
                        <p class="text-[10px] font-[700]">Location: Online</p>
                    </div>
                    <div class="mt-[25px] flex items-center">
                        <div class="flex bg-primColor w-[150px] items-center text-white justify-center p-[5px]">
                            <button class="text-[13px] mr-[3px]">Register</button>
                            <img src="~/Plugins/Images/tabler_external-linkjoin-btn-arrow.svg"
                                 alt=""
                                 class="w-[10px] h-[10px] mr-[3px]" />
                        </div>
                        <img src="~/Plugins/Images/Frame 1000007549tag-icon.svg"
                             alt=""
                             class="w-[30px] h-[30px] ml-[3px]" />
                        <img src="~/Plugins/Images/Frame 1000007550like-icon.svg"
                             alt=""
                             class="w-[30px] h-[30px] ml-[3px]" />
                    </div>
                </div>
            </div>




        </div>
        <div class="flex justify-between">
            <div class="flex items-center">
                <img src="~/Plugins/Images/arrow-leftprevious icon.svg" alt="" class="w-[12px] h-[12px] mr-[3px]">
                <p class="text-darkGrey text-[12px] font-[700]">Previous</p>
            </div>
            <div>
                <img src="~/Plugins/Images/Pagination numbersnumbers.svg" alt="" class="w-[200px] h-[200px]">
            </div>
            <div class="flex items-center">
                <p class="text-darkGrey text-[12px] font-[700]  mr-[3px]">Next</p>
                <img src="~/Plugins/Images/Iconnext-icon.svg" alt="" class="w-[9px] h-9px]">
            </div>
        </div>
    </section>

    @Html.Partial("_Footer")
</body>


</html>







