@{
    Layout = null;
}

<html class="overflow-x-none">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="~/Plugins/Tailwind/tailwind.js"></script>
    <script src="~/Plugins/Tailwind/config.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
          rel="stylesheet" />
</head>


<body class="overflow-x-none">
    @Html.Partial("_DashBoardHeader")
    @Html.Partial("_DetailsPage")
   
   
    <section class="px-[100px] my-[20px]">
       

        <div class="flex mt-[20px] mb-[20px]">
            <div class="mr-[10px]">
                <p class="text-[10px] font-[900]">Board of Directors</p>
            </div>
            <div>
                <p class="text-[10px] font-[900] text-lightGrey">
                    Documents
                </p>
            </div>
        </div>


        <div>

            <div class="mb-[10px]">
                <p class="text-[12px] font-[900]">Executive Directors</p>
            </div>

            <div class="grid md:grid-cols-2 grid-cols-1 gap-6 ">

                <div>
                    <div class="flex ">
                        <img src="~/Plugins/Images/Frame 1000007566first-man-img.png" alt="" class="w-[70px] h-[70px] mr-[10px]">
                        <div class="mt-[5px]">
                            <p class="font-[700] text-[10px]">Charles Warwick</p>
                            <p class="text-[#FF002B] font-[700] text-[10px]">B.Com, B.Acc, HDip Tax, MBA (with distinction, <br> Warwick), CA(SA)Chief Executive Officer</p>
                        </div>
                    </div>
                    <p class="font-[700] text-[9px] mt-[5px]">Appointed CEO in July 2009, Charles is responsible for the Group’s strategic trajectory and the alignment of more than 14 900 people across 21 countries. With an enviable track record for navigating demanding and complex environments, his unwavering focus is on the delivery of superior shareholder value, and on the ongoing creation of read more....</p>
                </div>
                <div>
                    <div class="flex ">
                        <img src="~/Plugins/Images/Frame 1000007566first-man-img.png" alt="" class="w-[70px] h-[70px] mr-[10px]">
                        <div class="mt-[5px]">
                            <p class="font-[700] text-[10px]">Charles Warwick</p>
                            <p class="text-[#FF002B] font-[700] text-[10px]">B.Com, B.Acc, HDip Tax, MBA (with distinction, <br> Warwick), CA(SA)Chief Executive Officer</p>
                        </div>
                    </div>
                    <p class="font-[700] text-[9px] mt-[5px]">Appointed CEO in July 2009, Charles is responsible for the Group’s strategic trajectory and the alignment of more than 14 900 people across 21 countries. With an enviable track record for navigating demanding and complex environments, his unwavering focus is on the delivery of superior shareholder value, and on the ongoing creation of read more....</p>
                </div>
                <div>
                    <div class="flex ">
                        <img src="~/Plugins/Images/Frame 1000007566first-man-img.png" alt="" class="w-[70px] h-[70px] mr-[10px]">
                        <div class="mt-[5px]">
                            <p class="font-[700] text-[10px]">Charles Warwick</p>
                            <p class="text-[#FF002B] font-[700] text-[10px]">B.Com, B.Acc, HDip Tax, MBA (with distinction, <br> Warwick), CA(SA)Chief Executive Officer</p>
                        </div>
                    </div>
                    <p class="font-[700] text-[9px] mt-[5px]">Appointed CEO in July 2009, Charles is responsible for the Group’s strategic trajectory and the alignment of more than 14 900 people across 21 countries. With an enviable track record for navigating demanding and complex environments, his unwavering focus is on the delivery of superior shareholder value, and on the ongoing creation of read more....</p>
                </div>
                <div>
                    <div class="flex ">
                        <img src="~/Plugins/Images/Frame 1000007566first-man-img.png" alt="" class="w-[70px] h-[70px] mr-[10px]">
                        <div class="mt-[5px]">
                            <p class="font-[700] text-[10px]">Charles Warwick</p>
                            <p class="text-[#FF002B] font-[700] text-[10px]">B.Com, B.Acc, HDip Tax, MBA (with distinction, <br> Warwick), CA(SA)Chief Executive Officer</p>
                        </div>
                    </div>
                    <p class="font-[700] text-[9px] mt-[5px]">Appointed CEO in July 2009, Charles is responsible for the Group’s strategic trajectory and the alignment of more than 14 900 people across 21 countries. With an enviable track record for navigating demanding and complex environments, his unwavering focus is on the delivery of superior shareholder value, and on the ongoing creation of read more....</p>
                </div>
                <div>
                    <div class="flex ">
                        <img src="~/Plugins/Images/Frame 1000007566first-man-img.png" alt="" class="w-[70px] h-[70px] mr-[10px]">
                        <div class="mt-[5px]">
                            <p class="font-[700] text-[10px]">Charles Warwick</p>
                            <p class="text-[#FF002B] font-[700] text-[10px]">B.Com, B.Acc, HDip Tax, MBA (with distinction, <br> Warwick), CA(SA)Chief Executive Officer</p>
                        </div>
                    </div>
                    <p class="font-[700] text-[9px] mt-[5px]">Appointed CEO in July 2009, Charles is responsible for the Group’s strategic trajectory and the alignment of more than 14 900 people across 21 countries. With an enviable track record for navigating demanding and complex environments, his unwavering focus is on the delivery of superior shareholder value, and on the ongoing creation of read more....</p>
                </div>
                <div>
                    <div class="flex ">
                        <img src="~/Plugins/Images/Frame 1000007566first-man-img.png" alt="" class="w-[70px] h-[70px] mr-[10px]">
                        <div class="mt-[5px]">
                            <p class="font-[700] text-[10px]">Charles Warwick</p>
                            <p class="text-[#FF002B] font-[700] text-[10px]">B.Com, B.Acc, HDip Tax, MBA (with distinction, <br> Warwick), CA(SA)Chief Executive Officer</p>
                        </div>
                    </div>
                    <p class="font-[700] text-[9px] mt-[5px]">Appointed CEO in July 2009, Charles is responsible for the Group’s strategic trajectory and the alignment of more than 14 900 people across 21 countries. With an enviable track record for navigating demanding and complex environments, his unwavering focus is on the delivery of superior shareholder value, and on the ongoing creation of read more....</p>
                </div>
                <div>
                    <div class="flex ">
                        <img src="~/Plugins/Images/Frame 1000007566first-man-img.png" alt="" class="w-[70px] h-[70px] mr-[10px]">
                        <div class="mt-[5px]">
                            <p class="font-[700] text-[10px]">Charles Warwick</p>
                            <p class="text-[#FF002B] font-[700] text-[10px]">B.Com, B.Acc, HDip Tax, MBA (with distinction, <br> Warwick), CA(SA)Chief Executive Officer</p>
                        </div>
                    </div>
                    <p class="font-[700] text-[9px] mt-[5px]">Appointed CEO in July 2009, Charles is responsible for the Group’s strategic trajectory and the alignment of more than 14 900 people across 21 countries. With an enviable track record for navigating demanding and complex environments, his unwavering focus is on the delivery of superior shareholder value, and on the ongoing creation of read more....</p>
                </div>
                <div>
                    <div class="flex ">
                        <img src="~/Plugins/Images/Frame 1000007566first-man-img.png" alt="" class="w-[70px] h-[70px] mr-[10px]">
                        <div class="mt-[5px]">
                            <p class="font-[700] text-[10px]">Charles Warwick</p>
                            <p class="text-[#FF002B] font-[700] text-[10px]">B.Com, B.Acc, HDip Tax, MBA (with distinction, <br> Warwick), CA(SA)Chief Executive Officer</p>
                        </div>
                    </div>
                    <p class="font-[700] text-[9px] mt-[5px]">Appointed CEO in July 2009, Charles is responsible for the Group’s strategic trajectory and the alignment of more than 14 900 people across 21 countries. With an enviable track record for navigating demanding and complex environments, his unwavering focus is on the delivery of superior shareholder value, and on the ongoing creation of read more....</p>
                </div>
                <div>
                    <div class="flex ">
                        <img src="~/Plugins/Images/Frame 1000007566first-man-img.png" alt="" class="w-[70px] h-[70px] mr-[10px]">
                        <div class="mt-[5px]">
                            <p class="font-[700] text-[10px]">Charles Warwick</p>
                            <p class="text-[#FF002B] font-[700] text-[10px]">B.Com, B.Acc, HDip Tax, MBA (with distinction, <br> Warwick), CA(SA)Chief Executive Officer</p>
                        </div>
                    </div>
                    <p class="font-[700] text-[9px] mt-[5px]">Appointed CEO in July 2009, Charles is responsible for the Group’s strategic trajectory and the alignment of more than 14 900 people across 21 countries. With an enviable track record for navigating demanding and complex environments, his unwavering focus is on the delivery of superior shareholder value, and on the ongoing creation of read more....</p>
                </div>

            </div>


        </div>

    </section>
    @Html.Partial("_Footer")
</body>


</html>























